<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YOIM</title>

    <!-- pubfile -->
    <link rel="stylesheet" href="/resource/assets/libs/jquery-ui/jquery-ui.min.css">

    <link rel="stylesheet" href="/resource/assets/infra/fonts/Pretendard.css">
    <link rel="stylesheet" href="/resource/assets/infra/css/reset.css">
    <link rel="stylesheet" href="/resource/assets/infra/css/utility.css">
    <link rel="stylesheet" href="/resource/assets/infra/css/component.css">
    <link rel="stylesheet" href="/resource/assets/infra/css/common.css">

    <script src="/resource/assets/libs/jquery/jquery-3.5.1.min.js"></script>
    <script src="/resource/assets/libs/jquery-ui/jquery-ui.min.js"></script>

    <script src="/resource/assets/infra/js/common.js"></script>


    <!-- 서브에만 들어가는 파일 -->
    <link rel="stylesheet" href="/resource/assets/infra/css/sub.css">
    <script src="/resource/assets/infra/js/sub.js"></script>
    <!--// 메인에만 들어가는 파일 -->

    <!-- //pubfile -->

</head>
<header th:replace="fragments/header :: headerFragment"></header>
<body>
<div th:replace="fragments/menuDiv :: menuDivFragment"></div>
<div layout:fragment="content">
</div>
<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>