<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yoim.www.mapper.ChatMemberMapper">

	<insert id="insertMember">
		INSERT IGNORE INTO tb_chat_member(room_id,user_id,role)
		VALUES(#{roomId},#{userId},#{role})
	</insert>
	<update id="updateLastReadSeq">
		UPDATE tb_chat_member SET last_read_seq = GREATEST(last_read_seq, #{seq})
		WHERE room_id=#{roomId} AND user_id=#{userId}
	</update>

	<!-- 메시지 읽음 카운트 -->
	<select id="readCountForMessage" resultType="int">
		SELECT SUM(CASE
		WHEN cm.user_id <![CDATA[ <> ]]> #{senderId}
		AND cm.joined_at <![CDATA[ <= ]]> #{createdAt}
		AND (cm.left_at IS NULL OR cm.left_at <![CDATA[ >= ]]> #{createdAt})
		AND cm.last_read_seq <![CDATA[ >= ]]> #{seq}
		THEN 1 ELSE 0 END) AS read_count
		FROM tb_chat_member cm
		WHERE cm.room_id = #{roomId}
	</select>


</mapper>
