<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.yoim.www.mapper.CompanyTemplateMapper">
	
	<resultMap type="companyTemplate" id="getSelectMap">
		<result property="templateId" column="template_id"/>
		<result property="companyId" column="company_id"/>
		<result property="title" column="title"/>
		<result property="registId" column="regist_id"/>
		<result property="registDt" column="regist_dt"/>
		<result property="updusrId" column="updusr_id"/>
		<result property="updtDt" column="updt_dt"/>
	</resultMap>
	
	<select id="companyTemplateSelect" resultMap="getSelectMap" parameterType="hashmap">
		select *
		from tb_company_template
		<if test="keyword != null and keyword != ''">
			where ${searchType} LIKE CONCAT('%', #{keyword}, '%')
		</if>
		ORDER BY
			regist_dt DESC
			LIMIT #{pagestart}, #{pagesize}
	</select>

	<select id="companyTemplateTotalCount" resultType="int" parameterType="hashmap">
		select count(*)
		from tb_company_template
		<if test="keyword != null and keyword != ''">
		where ${searchType} LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</select>

	<select id="companyTemplateView" resultMap="getSelectMap" parameterType="hashmap">
		select *
		from tb_company_template
		where template_id = #{templateId}
	</select>

	<delete id="companyTemplateDelete" parameterType="hashmap">
		delete from tb_company_template where template_id = #{templateId}
	</delete>
	
	<insert id="companyTemplateUpsert" parameterType="companyTemplate" useGeneratedKeys="true" keyProperty="templateId">
		insert into tb_company_template
		(
		template_id,
		company_id,
		title,
		regist_id,
		regist_dt
		)
		values(
	    #{templateId},
		#{companyId},
	    #{title},
		#{registId},
		now()
		)
		ON DUPLICATE KEY UPDATE
		title = VALUES(title),
	    updusr_id = VALUES(regist_id),
	    updt_dt = NOW();
	</insert>
	
	
	
	
</mapper>
