<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.yoim.www.mapper.NoticeMapper">
	
	<resultMap type="notice" id="getSelectMap">
		<result property="noticeId" column="notice_id"/>
		<result property="title" column="title"/>
		<result property="content" column="content"/>
		<result property="pinnedYn" column="pinned_yn"/>
		<result property="useYn" column="use_yn"/>
		<result property="registId" column="regist_id"/>
		<result property="registDt" column="regist_dt"/>
		<result property="updusrId" column="updusr_id"/>
		<result property="updtDt" column="updt_dt"/>
	</resultMap>
	
	<select id="noticeSelect" resultMap="getSelectMap" parameterType="hashmap">
		select *
		from tb_notice
		ORDER BY
			CASE WHEN pinned_yn = 'Y' THEN 0 ELSE 1 END,  -- 공지는 위로
			regist_dt DESC
			LIMIT #{pagestart}, #{pagesize}
	</select>

	<select id="noticeTotalCount" resultType="int" parameterType="hashmap">
		select count(*)
		from tb_notice
	</select>

	<select id="noticeView" resultMap="getSelectMap" parameterType="hashmap">
		select *
		from tb_notice
		where notice_id = #{noticeId}
	</select>

	<delete id="noticeDelete" parameterType="hashmap">
		delete from tb_notice where notice_id = #{noticeId}
	</delete>
	
	<insert id="noticeUpsert" parameterType="notice" useGeneratedKeys="true" keyProperty="noticeId">
		insert into tb_notice
		(
		title,
		content,
		pinned_yn,
		use_yn,
		regist_id,
		regist_dt
		)
		values(
		#{title},
		#{content},
		#{pinnedYn},
		#{useYn},
		#{registId},
		now()
		)
		ON DUPLICATE KEY UPDATE
		title = VALUES(title),
		pinned_yn = VALUES(pinned_yn),
		use_yn = VALUES(use_yn),
		content = VALUES(content),
	    updusr_id = VALUES(regist_id),
	    updt_dt = NOW();
	</insert>
	
	
	
	
</mapper>
