<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.yoim.www.mapper.UserAuthMapper">
	
	<resultMap type="userAuth" id="getSelectMap">
		<result property="userAuthId" column="user_auth_id"/>
		<result property="providerId" column="provider_id"/>
		<result property="providerType" column="provider_type"/>
		<result property="providerName" column="provider_name"/>
		<result property="registId" column="regist_id"/>
		<result property="registDt" column="regist_dt"/>
		<result property="updusrId" column="updusr_id"/>
		<result property="updtDt" column="updt_dt"/>
	</resultMap>
	
	<select id="selectOne" parameterType="hashmap" resultMap="getSelectMap">
		select * from tb_user_auth where provider_id = #{providerId}
	</select>
	
	<insert id="upsert" parameterType="hashmap">
		insert into tb_user_auth
		(
		provider_id, 
		provider_type, 
		provider_name, 
		regist_id,
		regist_dt
		)
		values(
		#{providerId},
		#{providerType}, 
		#{providerName}, 
		'SYSTEM',
		now()
		)
		ON DUPLICATE KEY UPDATE
	    provider_type = VALUES(provider_type),
	    provider_name = VALUES(provider_name),
	    updusr_id = 'SYSTEM',
	    updt_dt = NOW();
	</insert>
	
	
	
	
</mapper>
