<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/default}">

<head>
<script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
<script th:inline="javascript">
	

    	
	$(document).ready(function() {

		
		/*<![CDATA[*/
    	var navberRedirectUri = /*[[${navberRedirectUri}]]*/
    	/*]]*/
	  	
		
		$("#id").keydown(function(key) {
            if (key.keyCode == 13) {
                if($("input[name=param2]").val() != ""){
                	login();
                }else{
                	$("#login_error").html("비밀번호를 입력해주세요.");
    				$("#login_error").show();
                	$("input[name=param2]").focus();
                	return false;
                }
            }
        });
		$("#pw").keydown(function(key) {
			 if (key.keyCode == 13) {
				 login();
			 }
		});
		$("#login").click(function(event) {
			if ($("input[name=param1]").val() == "") {
				$("#login_error").html("아이디를 입력해주세요.");
				$("#login_error").show();
				return;
			}
			if ($("input[name=param2]").val() == "") {
				$("#login_error").html("비밀번호를 입력해주세요.");
				$("#login_error").show();
				return;
			}
			login();
		});
		function login(){
			$.ajax({
				type : "POST",
				url : "/doLogin",
				data : $("#loginFrm").serialize(),
				success : function(data) {
					if(JSON.parse(data).result) {
						location.href = "/";
					} else {
						$("#login_error").html("아이디 또는 비밀번호가 일치하지 않습니다.");
						$("#login_error").show();
// 						alert("계정정보를 확인해주세요.");
					}
				},
				error : function() {
					$("#login_error").html("아이디 또는 비밀번호가 일치하지 않습니다.");
					$("#login_error").show();
// 					alert("계정정보를 확인해주세요.");
				}
			});
		}
		
		
		
		
		var naverLogin = new naver.LoginWithNaverId({
	        clientId: "bRewgblVZHuMpJPLh7X1",
	        callbackUrl: navberRedirectUri,
	        isPopup: false,
	        callbackHandle: true
	    });
	    naverLogin.init();
	    
	    window.addEventListener('load', function () {
	        naverLogin.getLoginStatus(function (status) {
	            if (status) {
	                var email = naverLogin.user.getEmail(); // 필수로 설정할것을 받아와 아래처럼 조건문을 줍니다.

	                console.log(naverLogin.user);

	                if( email == undefined || email == null) {
	                    alert("이메일은 필수정보입니다. 정보제공을 동의해주세요.");
	                    naverLogin.reprompt();
	                    return;
	                }
	            } else {
	                console.log("callback 처리에 실패하였습니다.");
	            }
	        });
	    });


	    var testPopUp;
	    function openPopUp() {
	        testPopUp= window.open("https://nid.naver.com/nidlogin.logout", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,width=1,height=1");
	    }
	    function closePopUp(){
	        testPopUp.close();
	    }

	    function naverLogout() {
	        openPopUp();
	        setTimeout(function() {
	            closePopUp();
	        }, 1000);


	    }
	});
	
	

	
	</script>
</head>
<body>

<!-- wrap -->
<div id="container" layout:fragment="content">



    <main id="contents">

        <!-- 로그인 -->
        <div class="login">
            <div class="inner">
                <div class="login-tit-wrap">
                    <h2 class="tit">로그인</h2>
                </div>

                <div class="login-wrap">

                    <div class="login-type-wrap">
                        <div class="login-type">
                            <span class="indicator"></span>
                            <button type="button" class="btn active">로그인</button>
                            <button type="button" class="btn">간편 로그인</button>
                        </div>
                    </div>

                    <div class="login-group">


                        <!-- 그냥 로그인 -->
                        <div class="group active">
                        <form class="login-form" id="loginFrm" method="post">
                            <div class="input-wrap">
                                <div class="id">
                                    <input type="text" name="param1" id="id" placeholder="아이디를 입력하세요.">
                                </div>
                                <div class="password">
                                    <input type="password" name="param2" id="pw" placeholder="비밀번호를 입력하세요.">

                                    <button type="button" class="btn-pw-show"></button>
                                </div>
                            </div>
                            <div class="btn-wrap col center" style="margin-top: 14px;">
                            	<span id="login_error" style="font-size:15px; line-height:1.4; margin:0; color: red; display: none;"></span>
                                <button type="button" id="login" class="btn btn-gradient">로그인</button>
                                <a href="javascript:location.href='/main/nv_userJoin';" type="button" class="btn line-gray">회원가입</a>
                            </div>
                            <div class="btn-wrap mt10-xl">
                                <button type="button" class="btn-txt">비밀번호찾기</button>
                            </div>
                        </form>
                        </div>

                        <!-- 소셜 로그인 -->
                        <div class="group">
                            <div class="login-sns">
                                <a class="btn kakao-login"
									   th:href="@{https://kauth.kakao.com/oauth/authorize(
									              client_id=${kakaoApiKey},
									              redirect_uri=${redirectUri},
									              response_type='code')}">
									  <i></i>카카오로 시작하기
									</a>
									
                                <a type="button" id="naverIdLogin_loginButton" href="javascript:void(0)" class="btn naver-login">
                                    <i></i>
                                    네이버로 시작하기
                                </a>
                                <button type="button" class="btn apple-login">
                                    <i></i>
                                    Apple로 시작하기
                                </button>
                                <button type="button" class="btn facebook-login">
                                    <i></i>
                                    페이스북으로 시작하기
                                </button>
                                <button type="button" class="btn google-login">
                                    <i></i>
                                    구글로 시작하기
                                </button>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
        <!--// 로그인 -->


    </main>


   



</div>

<!-- //wrap -->
</body>
</html>
