<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/default}">
<body>

<!-- wrap -->
<div id="container" layout:fragment="content">

    <main id="contents"
          style="height:70vh;background:#fff;display:flex;align-items:center;justify-content:center;font-size:3rem;flex-direction:column;">
        <div>메인영역</div>
        <div><a href="/resource/html/ia.html">IA 설계서</a></div>
        <div><a href="/chat?to=2">채팅방 - /chat?to=2</a></div>
        <div><a href="/fileTest">파일테스트 - /fileTest</a></div>
        <div><a href="/editorTest">에디터테스트 - /editorTest</a></div>
        <br>
        <div><a href="/admin/notice/nv_noticeList">관리자-공지사항 - /admin/nv_noticeList</a></div>
    </main>



</div>
<!-- //wrap -->
</body>
</html>
