<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/default}">
<body>

<!-- wrap -->
<div id="container" layout:fragment="content">

    <main id="contents" style="height: 70vh;background: #fff;display: flex;align-items: center;justify-content: center;font-size: 3rem;">메인영역</main>


</div>
<!-- //wrap -->
</body>
</html>
