/* -------------------------------------------------------------- */
/* txt-color */
/* -------------------------------------------------------------- */
.txt-blue {
  color: var(--color-primary-blue) !important;
}

.txt-green {
  color: var(--color-primary-green) !important;
}

.txt-sky {
  color: #79B1E9 !important;
}

.ico {
  display: inline-flex;
  position: relative;
  vertical-align: middle;
}
.ico.like {
  width: 3.5rem;
  height: 3.5rem;
  background: url("../img/common/ico_like.png") no-repeat center;
  background-size: 3.5rem auto;
}
@media (max-width: 767px) {
  .ico.like {
    background-size: 3rem auto;
  }
}
.ico.mypage {
  width: 3.5rem;
  height: 3.5rem;
  background: url("../img/common/ico_mypage.png") no-repeat center;
  background-size: 3.5rem auto;
}
@media (max-width: 767px) {
  .ico.mypage {
    background-size: 3rem auto;
  }
}
.ico.menu {
  width: 3.5rem;
  height: 3.5rem;
  background: url("../img/common/ico_menu.png") no-repeat center;
  background-size: 3.5rem auto;
}
@media (max-width: 767px) {
  .ico.menu {
    background-size: 3rem auto;
  }
}

/* -------------------------------------------------------------- */
/* btn-color */
/* -------------------------------------------------------------- */
.btn-wrap {
  display: flex;
  align-items: center;
}
.btn-wrap.center {
  justify-content: center;
  gap: 0 1rem;
}
.btn-wrap.col {
  flex-direction: column;
}

.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  min-height: 4.2rem;
}
.btn.btn-gradient {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 1px solid transparent;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to right, #7a00f4 0%, #c728d5 25%, #ff6c00 75%, #ffd600 100%) border-box;
}
.btn.line-gray {
  border: 1px solid #aeaeae;
  color: #000;
  font-size: 1.6rem;
}

.hover-line {
  position: relative;
}
.hover-line:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 1rem;
  width: 0;
  height: 1.5rem;
  background: rgba(0, 0, 0, 0.1);
  /*background: rgba(255,214,0,0.1);*/
  /*background: rgba(211,36,255,0.1);*/
  transition: all 0.3s;
}
.hover-line:hover:before {
  width: 100%;
}

input[type=text],
input[type=password],
input[type=number] {
  border-radius: 10px;
  border: 1px solid #E5E8EB;
  background: #FFF;
  font-size: 1.6rem;
  color: #000;
  padding: 0 1.5rem;
  width: 100%;
}
input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=number]::placeholder {
  color: #6B7684;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.id {
  border-radius: 10px;
  border: 1px solid #E5E8EB;
  overflow: hidden;
  background: #FFF;
  min-height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.id input[type=text] {
  border-radius: 0;
  border: 1px solid transparent;
  min-height: 5rem;
  width: 100%;
  padding: 0 1.5rem;
}

.password {
  border-radius: 10px;
  border: 1px solid #E5E8EB;
  overflow: hidden;
  background: #FFF;
  min-height: 5rem;
  padding: 0 1.5rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.password input[type=text],
.password input[type=password] {
  border-radius: 0;
  border: 1px solid transparent;
  min-height: 5rem;
  width: calc(100% - 3.5rem);
  padding-left: 1.5rem;
}
.password .btn-pw-show {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background: url("../img/common/ico_pw_on.png") no-repeat center;
  background-size: contain;
}
