@charset "UTF-8";
#contents {
  min-height: calc(100vh - 17.2rem);
  padding-top: 12rem;
}

.login {
  min-height: calc(100vh - 7.5rem - 17.2rem - 10.1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 5rem auto;
}
.login .inner {
  max-width: 48rem;
  width: 100%;
}
@media (max-width: 1023px) {
  .login .inner {
    max-width: 42rem;
  }
}
.login .login-tit-wrap .tit {
  color: #000;
  text-align: center;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
}
@media (max-width: 1023px) {
  .login .login-tit-wrap .tit {
    font-size: 3.4rem;
  }
}
@media (max-width: 767px) {
  .login .login-tit-wrap .tit {
    font-size: 2.8rem;
  }
}
.login .login-wrap {
  margin-top: 3.5rem;
  padding: 4rem 6rem;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);
}
@media (max-width: 1023px) {
  .login .login-wrap {
    padding: 4rem 3rem;
  }
}
@media (max-width: 767px) {
  .login .login-wrap {
    padding: 4rem 1.6rem;
  }
}
.login .login-wrap .login-type-wrap {
  border-radius: 8px;
  background: #E5E8EB;
}
.login .login-wrap .login-type-wrap .login-type {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}
.login .login-wrap .login-type-wrap .login-type .indicator {
  position: absolute;
  inset: 5px auto 5px 5px;
  width: calc((100% - 20px) / 2);
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.28s cubic-bezier(0.2, 0.7, 0.2, 1);
  z-index: 0;
}
.login .login-wrap .login-type-wrap .login-type.move-1 .indicator {
  transform: translateX(calc(100% + 10px));
}
.login .login-wrap .login-type-wrap .login-type .btn {
  color: #6B7684;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  height: 3.2rem;
  flex: 1 0;
  position: relative;
  z-index: 1;
}
.login .login-wrap .login-type-wrap .login-type .btn.active {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login .login-wrap .password {
  margin-top: 1rem;
}
.login .login-wrap .btn-wrap {
  margin-top: 5rem;
  flex-wrap: wrap;
  gap: 10px;
}
.login .login-wrap .btn-wrap .btn {
  min-height: 5rem;
  flex: 1 1 47%;
  /*&:hover {
    font-weight: 700;
    text-decoration: line-through;
    transition: all 0.3s;
  }*/
}
@media (max-width: 767px) {
  .login .login-wrap .btn-wrap .btn {
    min-height: 4.5rem;
    font-size: 1.4rem;
  }
}
.login .login-wrap .btn-wrap .btn-gradient {
  color: #000;
}
.login .login-wrap .btn-wrap .btn-txt {
  color: #6B7684;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.login .login-wrap .btn-wrap .btn-txt:before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #6B7684;
}
.login .login-wrap .btn-wrap .btn-txt:hover {
  color: #000;
}
.login .login-sns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.login .login-sns .btn {
  min-height: 5.5rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.05em;
}
.login .login-sns .btn:hover {
  text-decoration: line-through;
  transition: all 0.3s;
}
.login .login-sns .btn i {
  margin-right: 1rem;
}
.login .login-sns .btn + .btn {
  margin-top: 1.5rem;
}
.login .login-sns .btn.kakao-login {
  background: #FFDE00;
  border: 1px solid #FFDE00;
  color: #3C1E1E;
}
.login .login-sns .btn.kakao-login i {
  width: 2rem;
  height: 1.7rem;
  background: url("../img/common/ico_kakao.png") no-repeat center;
  background-size: contain;
}
.login .login-sns .btn.naver-login {
  background: #00C73C;
  border: 1px solid #00C73C;
  color: #fff;
}
.login .login-sns .btn.naver-login i {
  width: 2rem;
  height: 1.7rem;
  background: url("../img/common/ico_naver.png") no-repeat center;
  background-size: contain;
}
.login .login-sns .btn.apple-login {
  background: #000000;
  border: 1px solid #000000;
  color: #fff;
}
.login .login-sns .btn.apple-login i {
  width: 2rem;
  height: 1.7rem;
  background: url("../img/common/ico_apple.png") no-repeat center;
  background-size: contain;
}
.login .login-sns .btn.facebook-login {
  background: #1877F2;
  border: 1px solid #1877F2;
  color: #fff;
}
.login .login-sns .btn.facebook-login i {
  width: 2rem;
  height: 1.7rem;
  background: url("../img/common/ico_facebook.png") no-repeat center;
  background-size: contain;
}
.login .login-sns .btn.google-login {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  color: rgba(0, 0, 0, 0.56);
}
.login .login-sns .btn.google-login i {
  width: 2rem;
  height: 1.7rem;
  background: url("../img/common/ico_google.png") no-repeat center;
  background-size: contain;
}
.login .login-group .group {
  display: none;
  margin-top: 3rem;
}
.login .login-group .group.active {
  display: block;
}

.contents-wrap .inner-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 5rem auto;
  min-height: calc(100vh - 7.5rem - 17.2rem - 10.1rem);
}
.contents-wrap .join {
  max-width: 50rem;
  width: 100%;
}
.contents-wrap .join-tit-wrap .join-tit {
  color: #000;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media (max-width: 1023px) {
  .contents-wrap .join-tit-wrap .join-tit {
    font-size: 3.4rem;
  }
}
@media (max-width: 767px) {
  .contents-wrap .join-tit-wrap .join-tit {
    font-size: 2.8rem;
  }
}
.contents-wrap .join-tit-wrap .join-txt {
  color: #999;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin-top: 1rem;
}
.contents-wrap .join-wrap {
  margin-top: 3.5rem;
  padding: 4rem 6rem;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);
}
@media (max-width: 1023px) {
  .contents-wrap .join-wrap {
    padding: 4rem;
  }
}
@media (max-width: 767px) {
  .contents-wrap .join-wrap {
    padding: 4rem 2.4rem;
  }
}
.contents-wrap .join-wrap .all-check {
  padding: 1.25rem 1rem;
  border-radius: 10px;
  background: #F5F5F5;
}
.contents-wrap .join-wrap .all-check .txt {
  font-weight: 600;
  font-size: 1.6rem;
}
.contents-wrap .join-wrap .check-wrap {
  margin-top: 3rem;
  padding: 0 1.5rem;
}
.contents-wrap .join-wrap .check-wrap .check + .check {
  margin-top: 1.5rem;
}
.contents-wrap .join-wrap .btn-wrap {
  margin-top: 3rem;
}
.contents-wrap .join-complete {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contents-wrap .join-complete .complete-icon .ico-check {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: url("../img/sub/join_complete_icon.png") no-repeat center;
  background-size: cover;
}
@media (max-width: 767px) {
  .contents-wrap .join-complete .complete-icon .ico-check {
    width: 45px;
    height: 45px;
  }
}
.contents-wrap .join-complete .join-complete-tit {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.05em;
  display: block;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .contents-wrap .join-complete .join-complete-tit {
    font-size: 20px;
  }
}
.contents-wrap .join-complete .join-complete-txt {
  color: #C2C2C2;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.05em;
  display: block;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .contents-wrap .join-complete .join-complete-txt {
    font-size: 14px;
  }
}
.contents-wrap .join-complete .admin-info {
  margin-top: 30px;
  padding: 15px 30px;
  border-radius: 6px;
  background: #f8f8f8;
  /*width: 100%;*/
}
.contents-wrap .join-complete .admin-info .user-id {
  color: #000;
  display: block;
  text-align: center;
}
.contents-wrap .join-complete .admin-info .user-id .label {
  font-size: 15px;
  font-weight: 400;
}
.contents-wrap .join-complete .admin-info .user-id .id-txt {
  font-size: 16px;
  font-weight: 500;
}
.contents-wrap .join-complete .btn-wrap .btn {
  width: 100%;
}
.contents-wrap .check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  /* 실제 체크박스 숨기기 */
  /* 가짜 박스 */
  /* 체크됐을 때 */
  /* 체크 아이콘 */
}
.contents-wrap .check label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}
.contents-wrap .check input[type=checkbox] {
  display: none;
}
.contents-wrap .check .fake-box {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #D1D6DC;
  border-radius: 4px;
  background: #fff;
  box-sizing: border-box;
  transition: all 0.2s ease;
  position: relative;
}
.contents-wrap .check input[type=checkbox]:checked + .fake-box {
  background: var(--color-primary-purple);
  border-color: var(--color-primary-purple);
}
.contents-wrap .check input[type=checkbox]:checked + .fake-box::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 7px;
  background: url("../img/common/ico_check_wh.png") no-repeat center;
  background-size: contain;
  transform: translate(-50%, -50%);
}
.contents-wrap .check .txt {
  color: #000;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}
.contents-wrap .check .arr-right {
  width: 2.5rem;
  height: 2.5rem;
  background: url("../img/common/arr_right_gray.png") no-repeat center;
  background-size: auto 1rem;
}

.sub {
  max-width: 120rem;
  margin: 0 auto;
  width: calc(100% - 12rem);
}
@media (max-width: 767px) {
  .sub {
    width: calc(100% - 4rem);
  }
}

.sub-tit-area .sub-tit-wrap .tit {
  display: block;
  font-size: 3.2rem;
  font-weight: 700;
  color: #212224;
}
.sub-tit-area + * {
  margin-top: 2rem;
}

.search-area {
  width: 100%;
}
.search-area .search-area-wrap {
  padding: 2rem;
  max-width: 120rem;
  margin: 0 auto;
  border-radius: 12px;
  background-color: #FAFAFC;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .search-area .search-area-wrap {
    padding: 2rem 1.5rem;
  }
}
.search-area .search-area-wrap .tit-wrap {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .search-area .search-area-wrap .tit-wrap {
    display: inline-block;
  }
}
.search-area .search-area-wrap .tit-wrap .tit {
  color: #212224;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 767px) {
  .search-area .search-area-wrap .tit-wrap .tit {
    font-size: 1.8rem;
    display: inline;
  }
}
.search-area .search-area-wrap .tit-wrap .ico {
  margin-left: 1rem;
}
@media (max-width: 767px) {
  .search-area .search-area-wrap .tit-wrap .ico {
    width: 4rem;
    height: 1.8rem;
    margin-left: 0.5rem;
  }
}
.search-area .search-area-wrap .top-category-wrap {
  margin-top: 2rem;
}
.search-area .search-area-wrap .top-category-wrap ul {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 0.8rem;
}
@media (max-width: 767px) {
  .search-area .search-area-wrap .top-category-wrap ul {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.search-area .search-area-wrap .top-category-wrap ul li {
  width: 100%;
}
.search-area .search-area-wrap .top-category-wrap ul li .btn-category:before {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.7rem;
  height: 2.7rem;
  margin-right: 1rem;
}
@media (max-width: 767px) {
  .search-area .search-area-wrap .top-category-wrap ul li .btn-category:before {
    width: 2.3rem;
    height: 2.3rem;
  }
}
.search-area .search-area-wrap .top-category-wrap ul li:nth-of-type(1) .btn-category:before {
  content: "";
  background: url("../img/common/ico_crown1.png") no-repeat center;
  background-size: contain;
}
.search-area .search-area-wrap .top-category-wrap ul li:nth-of-type(2) .btn-category:before {
  content: "";
  background: url("../img/common/ico_crown2.png") no-repeat center;
  background-size: contain;
}
.search-area .search-area-wrap .top-category-wrap ul li:nth-of-type(3) .btn-category:before {
  content: "";
  background: url("../img/common/ico_crown3.png") no-repeat center;
  background-size: contain;
}
.search-area .search-area-wrap .top-category-wrap ul li:nth-of-type(4) .btn-category:before {
  content: "";
  background: url("../img/common/ico_crown4.png") no-repeat center;
  background-size: contain;
}
.search-area .search-area-wrap .top-category-wrap ul li:nth-of-type(5) .btn-category:before {
  content: "";
  background: url("../img/common/ico_crown5.png") no-repeat center;
  background-size: contain;
}
.search-area .search-area-wrap .top-category-wrap ul li:hover .btn-category {
  background: #F2F3F7;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.search-area .search-area-wrap .top-category-wrap ul li .btn-category {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  min-height: 4.8rem;
  padding: 1.2rem;
  border: 1px solid #f2f3f7;
  background: #fff;
  font-size: 1.4rem;
  color: #212224;
  font-weight: 700;
  border-radius: 12px;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .search-area .search-area-wrap .top-category-wrap ul li .btn-category {
    padding: 0.6rem 1.2rem;
    min-height: auto;
  }
}

.detail-search-area {
  margin-top: 5rem;
}
.detail-search-area .detail-search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}
@media (max-width: 767px) {
  .detail-search-area .detail-search {
    flex-wrap: wrap;
  }
}
.fixed-tit-area {
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 0 0 0;
  background: #fff;
  border-bottom: 2px solid #f4f4f4;
  transition: opacity 0.3s ease, transform 0.3s ease;
  will-change: transform;
  display: none;
}
.fixed-tit-area.visible {
  /*transition: opacity 0.3s ease, transform 0.3s ease;*/
  opacity: 1;
  transform: translateY(0);
}
.fixed-tit-area:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 5rem;
  background: #f4f4f4;
}
.fixed-tit-area .fixed-tit-inner {
  width: calc(100% - 12rem);
  margin: 0 auto;
  max-width: 120rem;
}
.fixed-tit-area .flex-wrap {
  display: flex;
  justify-content: space-between;
}
.fixed-tit-area .flex-colum {
  display: flex;
  flex-direction: column;
}
.fixed-tit-area .view-tit-area {
  padding-bottom: 0;
}
.fixed-tit-area .view-tit-area:after {
  display: none;
}
.fixed-tit-area .book-btn-area {
  min-width: 16rem;
}
.fixed-tit-area .tab-btn-area {
  margin-top: 2rem;
  border-bottom: none;
}

.grid-wrap {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 6rem 2.4rem;
}
@media (max-width: 1023px) {
  .grid-wrap {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (max-width: 767px) {
  .grid-wrap {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem 1.2rem;
  }
}
.grid-wrap .grid {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.grid-wrap .grid.is-visible {
  opacity: 1;
  transform: translateY(0);
}
.grid-wrap .grid .link {
  display: block;
  position: relative;
}
.grid-wrap .grid .img-wrap {
  width: 100%;
  aspect-ratio: 4/3;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 3rem;
}
.grid-wrap .grid .img-wrap .tag {
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: #4CAF50;
  background: #E9FAD7;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0 1rem;
  height: 2.3rem;
}
@media (max-width: 767px) {
  .grid-wrap .grid .img-wrap .tag {
    font-size: 1.1rem;
    padding: 0 0.8rem;
  }
}
.grid-wrap .grid .img-wrap .like-vector {
  position: absolute;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 5;
}
@media (max-width: 767px) {
  .grid-wrap .grid .img-wrap .like-vector {
    width: 2rem;
    height: 1.5rem;
  }
}
.grid-wrap .grid .img-wrap .img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
.grid-wrap .grid .cont-wrap {
  margin-top: 1.2rem;
}
.grid-wrap .grid .cont-wrap .category-txt {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color-txt);
}
@media (max-width: 767px) {
  .grid-wrap .grid .cont-wrap .category-txt {
    font-size: 1.4rem;
  }
}
.grid-wrap .grid .cont-wrap .cont-tit {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-txt);
}
@media (max-width: 767px) {
  .grid-wrap .grid .cont-wrap .cont-tit {
    font-size: 1.6rem;
  }
}
.grid-wrap .grid .cont-wrap .date {
  color: rgb(153, 150, 150);
  font-size: 1.4rem;
  line-height: 1.2;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.grid-wrap .grid .cont-wrap .date .ico {
  width: 1.6rem;
  height: 1.6rem;
}
@media (max-width: 767px) {
  .grid-wrap .grid .cont-wrap .date {
    font-size: 1.2rem;
  }
}

.view-tit-area {
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
}
.view-tit-area:after {
  content: "";
  width: 100%;
  height: 3px;
  /*background: linear-gradient(90deg, rgba(198,255,0,0.5) 0%, rgba(198,255,0,1) 50%, rgba(198,255,0,0.5) 100%,);*/
  background: #000;
  position: absolute;
  left: 0;
  bottom: 0;
}
.view-tit-area .like-info-area .like-vector_red {
  width: 2rem;
  height: 1.7rem;
}
.view-tit-area .like-info-area .like-num {
  display: block;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-red);
}
.view-tit-area .view-tit-wrap .view-tit {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  display: block;
  color: var(--color-txt);
}

.sub-info-area {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-info-area .date-wrap {
  color: rgb(153, 150, 150);
  font-size: 1.4rem;
  line-height: 1.2;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.sub-info-area .date-wrap .ico {
  width: 1.6rem;
  height: 1.6rem;
}
.sub-info-area .review-wrap {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  margin-left: 2rem;
}
.sub-info-area .review-wrap .ico {
  width: 1.9rem;
  height: 1.8rem;
}
.sub-info-area .review-wrap .review-num {
  font-size: 1.3rem;
  line-height: 1.2;
  color: var(--color-txt);
}
.sub-info-area .book-btn-area {
  max-width: 16rem;
  width: 100%;
}
.sub-info-area .book-btn-area .btn {
  display: inline;
}
.sub-info-area .book-btn-area .btn:hover {
  border: 3px solid var(--color-red);
  color: var(--color-red);
  background: rgba(255, 75, 75, 0.1);
  font-weight: 700;
  transition: all 0.15s;
}

.editor-wrap {
  overflow: hidden;
  position: relative;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  padding: 2rem 2rem 5rem 2rem;
  margin-top: 5rem;
}

.more-btn {
  background: #fff;
  border-top: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  height: 4.8rem;
  width: 100%;
  font-size: 1.6rem;
  color: var(--color-gray-800);
}

.info-area {
  margin-top: 7rem;
}
.info-area .info-list {
  margin-top: 2.5rem;
}
.info-area .info-list dl {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}
.info-area .info-list dl:nth-of-type(1) {
  margin-top: 0;
}
.info-area .info-list dl dt .info-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
}
.info-area .info-list dl dt .info-icon01 {
  background: url("../img/sub/info_icon01.png") no-repeat center;
  background-size: cover;
}
.info-area .info-list dl dt .info-icon02 {
  background: url("../img/sub/info_icon02.png") no-repeat center;
  background-size: cover;
}
.info-area .info-list dl dt .info-icon03 {
  width: 2.2rem;
  height: 2.2rem;
  background: url("../img/sub/info_icon03.png") no-repeat center;
  background-size: cover;
}
.info-area .info-list dl dt .info-icon04 {
  width: 2.2rem;
  height: 2.2rem;
  background: url("../img/sub/info_icon04.png") no-repeat center;
  background-size: cover;
}
.info-area .info-list dl dt .info-icon05 {
  width: 2.2rem;
  height: 2.2rem;
  background: url("../img/sub/info_icon05.png") no-repeat center;
  background-size: cover;
}
.info-area .info-list dl dt .info-icon06 {
  width: 2.2rem;
  height: 2.2rem;
  background: url("../img/sub/info_icon06.png") no-repeat center;
  background-size: cover;
}
.info-area .info-list dl dt .info-icon07 {
  background: url("../img/sub/info_icon07.png") no-repeat center;
  background-size: cover;
}
.info-area .info-list dl dd {
  margin-left: 0.5rem;
  color: #383535;
  font-size: 1.8rem;
  line-height: 1.5;
  min-height: 3rem;
}

/* 테이블 상단 검색 */
.tb-search-area {
  margin-top: 2rem;
  max-width: 28rem;
}
.tb-search-area .search-input {
  border: 1px solid #dbdbdb;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.6rem;
}
.tb-search-area .search-input input {
  border: 1px solid transparent;
  border-radius: 0;
  height: 4rem;
  width: calc(100% - 5rem);
  padding: 0;
  font-size: 1.4rem;
}
.tb-search-area .search-input input:focus-visible {
  outline: none;
}
.tb-search-area .search-input .submit-btn {
  width: 3rem;
  height: 3rem;
  background: url("../img/common/ico_search_bk.png") no-repeat center;
  background-size: 2.2rem 2.2rem;
}

/* 테이블 */
.tb-wrap.v1 table {
  table-layout: fixed;
}
.tb-wrap.v1 th,
.tb-wrap.v1 td {
  height: 4.2rem;
  text-align: center;
  font-size: 1.6rem;
  vertical-align: middle;
}
.tb-wrap.v1 thead {
  border-bottom: 2px solid #000;
}
.tb-wrap.v1 thead th {
  font-size: 1.6rem;
}
.tb-wrap.v1 tbody td {
  padding: 1rem;
}
.tb-wrap.v1 .img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 0 auto;
}
.tb-wrap.v1 .out-btn {
  width: 8rem;
  margin: 0 auto;
}

.more-wrap {
  position: relative;
  padding-bottom: 5rem;
  overflow: hidden;
}
.more-wrap .more-btn-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.more-wrap .more-btn-wrap .more-btn {
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
  height: 4.8rem;
  width: 100%;
  font-size: 1.6rem;
  color: var(--color-gray-800);
}
