<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layouts/default}">

<head>
    <script th:inline="javascript">

    </script>
</head>
<body>

<!-- wrap -->
<div id="container" layout:fragment="content">
    <main id="contents">
        <div class="sub">
            <div class="sub-tit-area">
                <div class="sub-tit-wrap">
                    <span class="tit">게시판</span>
                </div>
            </div>


            <div class="board-view">
                <div class="view-head">
                    <div class="view-tit-wrap">
                        <span class="tit-wrap" th:text="${dataVO.title}"></span>
                        <span class="sub-tit" th:text="${dataVO.registDt}"></span>
                    </div>
                </div>

                <div class="view-body">
                    <div class="cont-wrap" >
                    <pre th:utext="${dataVO.content}"></pre>
                    </div>
                </div>

                <div class="view-foot">
<!--                    <div class="btn-wrap">-->
<!--                        <button type="button" class="btn sm fill-gray" th:onclick="|location.href='@{/admin/notice/nv_noticeList}'|">목록으로 돌아가기</button>-->
<!--                    </div>-->

                    <!-- 파티 관계자일경우 -->
                    <div class="btn-wrap">
                        <button type="button" class="btn sm line-red" th:onclick="|location.href='@{/admin/notice/ts_noticeDelete(noticeId=${dataVO.noticeId})}'|">삭제하기</button>
                        <button type="button" class="btn sm fill-gray" th:onclick="|location.href='@{/admin/notice/nv_noticeList}'|">목록으로 돌아가기</button>
                        <button type="button" class="btn sm fill-blue" th:onclick="|location.href='@{/admin/notice/nv_noticeForm(noticeId=${dataVO.noticeId})}'|">수정하기</button>
                    </div>
                    <!--// 파티 관계자일경우 -->
                </div>

            </div>

        </div>


    </main>

</div>
<!-- //wrap -->



</body>
</html>
