<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="utf-8">
    <!-- footer -->
    <footer id="footer" th:fragment="footerFragment">
        <div class="foot-top">
            <ul class="link-area">
                <li><a href="javascript:void(0);" class="link">이용약관</a></li>
                <li><a href="javascript:void(0);" class="link privacy">개인정보 처리방침</a></li>
                <li><a href="javascript:void(0);" class="link">이메일 무단수집거부</a></li>
            </ul>
        </div>
        <div class="inner">
            <address>
                <span class="txt">우) 04554 서울 중구 퇴계로 173 남산스퀘어빌딩 20층 동반성장위원회</span>
            </address>
            <span class="copy">Copyright &copy; 2025 요임 All Rights Reserved</span>
        </div>
    </footer>
    <!--// footer -->
</html>