<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="utf-8">
<!-- header -->
    <header id="header" th:fragment="headerFragment">
        <div class="inner">
            <h1 class="logo"><a href="/" class="logo-wh"></a></h1>

            <div class="right-area">
                <button type="button" class="ico like"></button>
                <button type="button" class="ico mypage"></button>
                <button type="button" class="ico menu"></button>
            </div>
        </div>
    </header>

    <!--// header -->
</html>