// * -------------------------------
// * mixin
// * -------------------------------
@mixin DESKTOP {
  @media (max-width:1170px) {
    @content;
  }
}
@mixin TABLET {
  @media (max-width:1023px) {
    @content;
  }
}
@mixin MOBILE {
  @media (max-width:767px) {
    @content;
  }
}

@mixin MINI {
  @media (max-width: 359px) {
    @content;
  }
}



// * -------------------------------
// * letter-spacing -> px에서 em 으로단위변환
// * -------------------------------
@function px-to-em($px, $base-font-size: 16) {
  @return ($px / $base-font-size) * 1em;
}



/* -------------------------------------------------------------- */
/* txt-color */
/* -------------------------------------------------------------- */
.txt-blue {color: var(--color-primary-blue)!important;}
.txt-green {color: var(--color-primary-green)!important;}
.txt-sky {color: #79B1E9!important;}




.ico {
  display: inline-flex;
  position: relative;
  vertical-align: middle;

  &.like {
    width: 3.5rem;
    height: 3.5rem;

    background: url("../img/common/ico_like.png") no-repeat center;
    background-size: 3.5rem auto;

    @include MOBILE {
      background-size: 3rem auto;
    }
  }
  &.mypage {
    width: 3.5rem;
    height: 3.5rem;

    background: url("../img/common/ico_mypage.png") no-repeat center;
    background-size: 3.5rem auto;

    @include MOBILE {
      background-size: 3rem auto;
    }
  }
  &.menu {
    width: 3.5rem;
    height: 3.5rem;

    background: url("../img/common/ico_menu.png") no-repeat center;
    background-size: 3.5rem auto;

    @include MOBILE {
      background-size: 3rem auto;
    }
  }
}

/* -------------------------------------------------------------- */
/* btn-color */
/* -------------------------------------------------------------- */
.btn-wrap {
  display: flex;
  align-items: center;

  &.center {
    justify-content: center;
    gap: 0 1rem;
  }

  &.col {
    flex-direction: column;
  }
}


.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  min-height:4.2rem;


  &.btn-gradient {
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border: 1px solid transparent;
    background:
            linear-gradient(#fff, #fff) padding-box, /* 내부 흰색 */
            linear-gradient(to right, #7a00f4 0%, #c728d5 25%, #ff6c00 75%, #ffd600 100%) border-box;
  }

  &.line-gray {
    border: 1px solid #aeaeae;
    color: #000;
    font-size: 1.6rem;
  }
}

.hover-line {
  position: relative;

  &:before {
    content: '';
    display: inline-block;

    position: absolute;
    left: 0;
    bottom: 1rem;

    width: 0;
    height: 1.5rem;
    background: rgba(0,0,0,0.1);

    /*background: rgba(255,214,0,0.1);*/
    /*background: rgba(211,36,255,0.1);*/

    transition: all 0.3s;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }

}



// * -------------------------------
// * form
// * -------------------------------
input[type="text"],
input[type="password"],
input[type="number"] {
  border-radius: 10px;
  border: 1px solid #E5E8EB;
  background: #FFF;
  font-size: 1.6rem;
  color: #000;

  padding: 0 1.5rem;
  width: 100%;

  &::placeholder {
    color: #6B7684;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.id {
  border-radius: 10px;
  border: 1px solid #E5E8EB;
  overflow: hidden;

  background: #FFF;
  min-height:5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;

  input[type="text"] {
    border-radius: 0;
    border: 1px solid transparent;
    min-height:5rem;
    width: 100%;
    padding: 0 1.5rem;
  }
}

.password {
  border-radius: 10px;
  border: 1px solid #E5E8EB;
  overflow: hidden;

  background: #FFF;
  min-height:5rem;
  padding: 0 1.5rem 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;


  input[type="text"],
  input[type="password"] {
    border-radius: 0;
    border: 1px solid transparent;
    min-height:5rem;
    width: calc(100% - 3.5rem);
    padding-left: 1.5rem;
  }

  .btn-pw-show {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;

    background: url('../img/common/ico_pw_on.png') no-repeat center;
    background-size: contain;
  }
}