// * -------------------------------
// * mixin
// * -------------------------------
@mixin DESKTOP {
  @media (max-width: 1170px) {
    @content;
  }
}

@mixin TABLET {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin MOBILE {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin MINI {
  @media (max-width: 359px) {
    @content;
  }
}

// * -------------------------------
// * letter-spacing -> px에서 em 으로단위변환
// * -------------------------------
@function px-to-em($px, $base-font-size: 16) {
  @return ($px / $base-font-size) * 1em;
}


#contents {
  min-height: calc(100vh - 17.2rem);
  padding-top: 12rem;
}

// * -------------------------------
// * 로그인
// * -------------------------------
.login {
  min-height: calc(100vh - 7.5rem - 17.2rem - 10.1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 5rem auto;

  .inner {
    max-width: 48rem;
    width: 100%;

    @include TABLET {
      max-width: 42rem;
    }
  }

  .login-tit-wrap {

    .tit {
      color: #000;
      text-align: center;
      font-size: 4.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      display: block;

      @include TABLET {
        font-size: 3.4rem;
      }

      @include MOBILE {
        font-size: 2.8rem;
      }
    }
  }

  .login-wrap {
    margin-top: 3.5rem;
    padding: 4rem 6rem;

    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);

    @include TABLET {
      padding: 4rem 3rem;
    }
    @include MOBILE {
      padding: 4rem 1.6rem;
    }

    .login-type-wrap {
      border-radius: 8px;
      background: #E5E8EB;

      .login-type {
        display: flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
        gap: 10px;

        position: relative;

        .indicator {
          position: absolute;
          inset: 5px auto 5px 5px;
          width: calc((100% - 20px) / 2);
          border-radius: 8px;
          background: #fff;
          box-shadow: 0 4px 12px rgba(0, 0, 0, .08);
          transition: transform .28s cubic-bezier(.2, .7, .2, 1);
          z-index: 0;
        }

        &.move-1 .indicator {
          transform: translateX(calc(100% + 10px));
        }

        .btn {
          color: #6B7684;
          text-align: center;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          height: 3.2rem;

          flex: 1 0;

          position: relative;
          z-index: 1;

          &.active {
            display: flex;
            justify-content: center;
            align-items: center;

            color: #000;
            text-align: center;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }


    .password {
      margin-top: 1rem;
    }

    .btn-wrap {
      margin-top: 5rem;
      flex-wrap: wrap;
      gap: 10px;

      .btn {
        min-height: 5rem;
        flex: 1 1 47%;

        @include MOBILE {
          min-height: 4.5rem;
          font-size: 1.4rem;
        }

        /*&:hover {
          font-weight: 700;
          text-decoration: line-through;
          transition: all 0.3s;
        }*/
      }

      .btn-gradient {
        color: #000;
      }

      .btn-txt {
        color: #6B7684;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        text-decoration: underline;
        margin-top: 2.5rem;

        display: flex;
        align-items: center;

        width: 100%;
        justify-content: center;


        &:before {
          content: '';

          display: inline-block;
          margin-right: 5px;

          width: 3px;
          height: 3px;
          border-radius: 50%;

          background: #6B7684;

        }

        &:hover {
          color: #000;
        }
      }
    }
  }

  .login-sns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 5rem;

    .btn {
      min-height: 5.5rem;

      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.05em;

      &:hover {
        text-decoration: line-through;
        transition: all 0.3s;
      }

      i {
        margin-right: 1rem;
      }

      & + .btn {
        margin-top: 1.5rem;
      }

      &.kakao-login {
        background: #FFDE00;
        border: 1px solid #FFDE00;
        color: #3C1E1E;

        i {
          width: 2rem;
          height: 1.7rem;

          background: url("../img/common/ico_kakao.png") no-repeat center;
          background-size: contain;
        }
      }

      &.naver-login {
        background: #00C73C;
        border: 1px solid #00C73C;
        color: #fff;

        i {
          width: 2rem;
          height: 1.7rem;

          background: url("../img/common/ico_naver.png") no-repeat center;
          background-size: contain;
        }
      }

      &.apple-login {
        background: #000000;
        border: 1px solid #000000;
        color: #fff;

        i {
          width: 2rem;
          height: 1.7rem;

          background: url("../img/common/ico_apple.png") no-repeat center;
          background-size: contain;
        }
      }

      &.facebook-login {
        background: #1877F2;
        border: 1px solid #1877F2;
        color: #fff;

        i {
          width: 2rem;
          height: 1.7rem;

          background: url("../img/common/ico_facebook.png") no-repeat center,;
          background-size: contain;
        }
      }

      &.google-login {
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.16);
        color: rgba(0, 0, 0, 0.56);

        i {
          width: 2rem;
          height: 1.7rem;

          background: url("../img/common/ico_google.png") no-repeat center;
          background-size: contain;
        }
      }

    }
  }

  .login-group .group {
    display: none;
    .btn {
      width: 100%;
    }

    margin-top: 3rem;
  }

  .login-group .group.active {
    display: block;
  }
}


// * -------------------------------
// * 회원가입
// * -------------------------------
.contents-wrap {


  .inner-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 5rem auto;

    min-height: calc(100vh - 7.5rem - 17.2rem - 10.1rem);
  }

  .join {
    max-width: 50rem;
    width: 100%;

  }

  .join-tit-wrap {
    .join-tit {
      color: #000;
      font-size: 3rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      @include TABLET {
        font-size: 3.4rem;
      }

      @include MOBILE {
        font-size: 2.8rem;
      }
    }

    .join-txt {
      color: #999;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      display: block;
      margin-top: 1rem;
    }
  }

  .join-wrap {
    margin-top: 3.5rem;
    padding: 4rem 6rem;

    border-radius: 20px;
    background: #FFF;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);

    @include TABLET {
      padding: 4rem;
    }
    @include MOBILE {
      padding: 4rem 2.4rem;
    }

    .all-check {
      padding: 1.25rem 1rem;
      border-radius: 10px;
      background: #F5F5F5;

      .txt {
        font-weight: 600;
        font-size: 1.6rem;
      }
    }

    .check-wrap {
      margin-top: 3rem;
      padding: 0 1.5rem;

      .check + .check {
        margin-top: 1.5rem;
      }
    }

    .btn-wrap {
      margin-top: 3rem;
    }


  }

  .join-complete {
    display: flex;
    flex-direction: column;
    align-items: center;

    .complete-icon {
      .ico-check {
        display: inline-block;
        width: 55px;
        height: 55px;

        background: url("../img/sub/join_complete_icon.png") no-repeat center;
        background-size: cover;

        @include MOBILE {
          width: 45px;
          height: 45px;
        }
      }
    }

    .join-complete-tit {
      color: #000;
      text-align: center;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: px-to-em(-1.2, 24);

      display: block;
      margin-top: 20px;

      @include MOBILE {
        font-size: 20px;
      }
    }

    .join-complete-txt {
      color: #C2C2C2;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: px-to-em(-0.8, 16);

      display: block;
      margin-top: 30px;

      @include MOBILE {
        font-size: 14px;
      }
    }

    .admin-info {
      margin-top: 30px;
      padding: 15px 30px;
      border-radius: 6px;
      background: #f8f8f8;
      /*width: 100%;*/

      .user-id {
        color: #000;
        display: block;
        text-align: center;

        .label {
          font-size: 15px;
          font-weight: 400;
        }

        .id-txt {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }


    .btn-wrap {
      .btn {
        width: 100%;
      }
    }
  }

  .check {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1rem;

    label {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 8px;
    }

    /* 실제 체크박스 숨기기 */
    input[type="checkbox"] {
      display: none;
    }

    /* 가짜 박스 */
    .fake-box {
      display: inline-block;
      width: 18px;
      height: 18px;
      border: 2px solid #D1D6DC;
      border-radius: 4px;
      background: #fff;
      box-sizing: border-box;
      transition: all 0.2s ease;
      position: relative;
    }

    /* 체크됐을 때 */
    input[type="checkbox"]:checked + .fake-box {
      background: var(--color-primary-purple);
      border-color: var(--color-primary-purple);
    }

    /* 체크 아이콘 */
    input[type="checkbox"]:checked + .fake-box::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 10px;
      height: 7px;
      background: url("../img/common/ico_check_wh.png") no-repeat center;
      background-size: contain;
      transform: translate(-50%, -50%);
    }

    .txt {
      color: #000;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
    }


    .arr-right {
      width: 2.5rem;
      height: 2.5rem;

      background: url("../img/common/arr_right_gray.png") no-repeat center;
      background-size: auto 1rem;
    }
  }

}


// * -------------------------------
// * 서브
// * -------------------------------
.sub {
  max-width: 120rem;
  margin: 0 auto;
  width: calc(100% - 12rem);

  @include MOBILE {
    width: calc(100% - 4rem);
  }
}

.sub-tit-area {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .sub-tit-wrap {
    .tit {
      display: block;
      font-size: 3.2rem;
      font-weight: 700;
      color: #212224;
    }


  }

  & + * {
    margin-top: 2rem;
  }
}

// * -------------------------------
// * 검색박스
// * -------------------------------
.search-area {
  width: 100%;

  .search-area-wrap {
    padding: 2rem;
    max-width: 120rem;
    margin: 0 auto;
    border-radius: 12px;
    background-color: #FAFAFC;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

    @include MOBILE {
      padding: 2rem 1.5rem;
    }

    .tit-wrap {
      display: flex;
      align-items: center;

      @include MOBILE {
        display: inline-block;
      }

      .tit {
        color: #212224;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @include MOBILE {
          font-size: 1.8rem;
          display: inline;
        }
      }

      .ico {
        margin-left: 1rem;

        @include MOBILE {
          width: 4rem;
          height: 1.8rem;
          margin-left: 0.5rem;
        }
      }
    }

    .top-category-wrap {
      margin-top: 2rem;

      ul {
        display: grid;
        grid-template-columns:repeat(5, minmax(0, 1fr));
        grid-gap: 0.8rem;

        @include MOBILE {
          grid-template-columns:repeat(1, minmax(0, 1fr));
        }

        li {
          width: 100%;


          .btn-category {
            &:before {
              display: inline-flex;
              align-items: center;
              justify-content: center;

              width: 2.7rem;
              height: 2.7rem;

              margin-right: 1rem;

              @include MOBILE {
                width: 2.3rem;
                height: 2.3rem;
              }
            }
          }

          &:nth-of-type(1) {
            .btn-category {
              &:before {
                content: '';

                background: url("../img/common/ico_crown1.png") no-repeat center;
                background-size: contain;
              }
            }
          }

          &:nth-of-type(2) {
            .btn-category {
              &:before {
                content: '';
                background: url("../img/common/ico_crown2.png") no-repeat center;
                background-size: contain;
              }
            }
          }

          &:nth-of-type(3) {
            .btn-category {
              &:before {
                content: '';

                background: url("../img/common/ico_crown3.png") no-repeat center;
                background-size: contain;
              }
            }
          }

          &:nth-of-type(4) {
            .btn-category {
              &:before {
                content: '';

                background: url("../img/common/ico_crown4.png") no-repeat center;
                background-size: contain;
              }
            }
          }

          &:nth-of-type(5) {
            .btn-category {
              &:before {
                content: '';

                background: url("../img/common/ico_crown5.png") no-repeat center;
                background-size: contain;
              }
            }
          }

          &:hover {
            .btn-category {
              background: #F2F3F7;

              transition: all 0.2s cubic-bezier(.4, 0, .2, 1);
            }
          }

          .btn-category {
            display: flex;
            align-items: center;

            width: 100%;
            text-align: left;

            min-height: 4.8rem;
            padding: 1.2rem;
            border: 1px solid #f2f3f7;
            background: #fff;

            font-size: 1.4rem;
            color: #212224;
            font-weight: 700;

            border-radius: 12px;
            box-sizing: border-box;

            @include MOBILE {
              padding: 0.6rem 1.2rem;
              min-height: auto;
            }
          }
        }
      }
    }
  }

}

.detail-search-area {
  margin-top: 5rem;

  .detail-search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    @include MOBILE {
      flex-wrap: wrap;
    }

    & > * {

    }
  }
}

.fixed-tit-area {
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3rem 0 0 0;
  background: #fff;
  border-bottom: 2px solid #f4f4f4;

  transition: opacity 0.3s ease, transform 0.3s ease;
  will-change: transform;

  display: none;

  &.visible {
    /*transition: opacity 0.3s ease, transform 0.3s ease;*/
    opacity: 1;
    transform: translateY(0);
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;

    position: absolute;
    left: 0;
    bottom: 5rem;
    background: #f4f4f4;
  }

  .fixed-tit-inner {
    width: calc(100% - 12rem);
    margin: 0 auto;
    max-width: 120rem;
  }

  .flex-wrap {
    display: flex;
    justify-content: space-between;
  }

  .flex-colum {
    display: flex;
    flex-direction: column;
  }

  .view-tit-area {
    padding-bottom: 0;

    &:after {
      display: none;
    }

  }

  .book-btn-area {
    min-width: 16rem;
  }

  .tab-btn-area {
    margin-top: 2rem;
    border-bottom: none;
  }

}

// * -------------------------------
// * 그리드
// * -------------------------------
.grid-wrap {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 6rem 2.4rem;

  @include TABLET {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include MOBILE {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3rem 1.2rem;
  }

  .grid {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;

    &.is-visible {
      opacity: 1;
      transform: translateY(0);
    }

    .link {
      display: block;
      position: relative;
    }

    .img-wrap {
      width: 100%;
      aspect-ratio: 4 / 3;
      position: relative;
      border-radius: 12px;
      overflow: hidden;
      margin-top: 3rem;

      .tag {
        position: absolute;
        left: 1rem;
        top: 1rem;
        z-index: 5;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;

        color: #4CAF50;
        background: #E9FAD7;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 0 1rem;
        height: 2.3rem;

        @include MOBILE {
          font-size: 1.1rem;
          padding: 0 0.8rem;
        }
      }

      .like-vector {
        position: absolute;
        right: 1.5rem;
        bottom: 1.5rem;
        z-index: 5;

        @include MOBILE {
          width: 2rem;
          height: 1.5rem;
        }
      }


      .img {
        width: 100%;
        height: 100%;

        display: block;
        object-fit: cover;
        object-position: center;
      }
    }

    .cont-wrap {
      margin-top: 1.2rem;

      .category-txt {
        display: block;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.2;
        color: var(--color-txt);

        @include MOBILE {
          font-size: 1.4rem;
        }
      }

      .cont-tit {
        margin-top: 1rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--color-txt);

        @include MOBILE {
          font-size: 1.6rem;
        }
      }

      .date {
        color: rgb(153, 150, 150);
        font-size: 1.4rem;
        line-height: 1.2;
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .ico {
          width: 1.6rem;
          height: 1.6rem;
        }

        @include MOBILE {
          font-size: 1.2rem;
        }
      }
    }
  }
}

// * -------------------------------
// * 공통게시판
// * -------------------------------
.search-box {
  .search-box-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .custom-select-box {
    .select-btn {
      border: 1px solid var(--color-border-gray);
      height: 4.5rem;
    }
  }

  .search-input {
    input {
      height: 4.5rem;
      max-width: 45rem;
      width: 100%;
    }
  }

  .search-btn {
    height: 4.5rem;
    font-size: 1.4rem;
  }
}

// * -------------------------------
// * 공통 테이블
// * -------------------------------
.table-wrap {
  &.v1 {
    table {
      border-top: 2px solid var(--color-primary-purple);
      table-layout: fixed;
      width: 100%;

      th {
        font-weight: 500;
      }

      td {
        text-align: left;
      }

      th,
      td {
        text-align: center;
        vertical-align: middle;
        height: 5rem;
        padding: 1rem;
        font-size: 1.6rem;
      }
      tr {
        border-bottom: 1px solid var(--color-border-gray);
      }

      thead {
        th {
          border-bottom: 1px solid var(--color-border-gray);
        }
      }

      .tb-tit {
        text-align: left;
        word-break: break-all;
        display: block;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
          text-underline-offset: 2px;
        }
      }

      .tb-date {
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: #4E5968;

        .icon {
          width: 1.8rem;
          height: 1.8rem;
        }
      }

      .no-data {
       td {
         height: 16rem;

         font-size: 1.6rem;
         font-weight: 500;
         text-align: center;
       }
      }
    }
  }
}

/*.no-data {
  height: 20rem;
  width: 100%;
  border-top: 1px solid var(--color-border-gray);
  border-bottom: 1px solid var(--color-border-gray);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.6rem;
  font-weight: 500;
}*/

/* 페이지네이션 */
.pagination {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .arrow-area {
    display: flex;
    align-items: center;
    gap: 1rem;

  }
  .prev-all,
  .next-all,
  .prev,
  .next {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;

    border: 1px solid #ddd;
  }

  .prev-all,.next-all {
    .ico {
      width: 1.2rem;height: 1.1rem
    }
  }
  .prev,.next {
    .ico {
      width: 0.65rem;height: 1.1rem
    }
  }

  .prev-all .ico {
    background: url("../img/common/arr_prev_all.png") no-repeat center;
    background-size: cover;
  }
  .prev .ico {
    background: url("../img/common/arr_prev.png") no-repeat center;
    background-size: cover;
  }
  .next-all .ico {
    background: url("../img/common/arr_next_all.png") no-repeat center;
    background-size: cover;
  }
  .next .ico {
    background: url("../img/common/arr_next.png") no-repeat center;
    background-size: cover;
  }

  .pagination-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2.4rem;
    gap: 0 0.5rem;

    .pages {
      display: block;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      line-height: 1.2;

      font-size: 1.6rem;

      &:hover {
        background: var(--color-border-gray);
      }
    }

    li {
      &.active {
        .pages {
          border: 1px solid var(--color-primary-purple);
          color: var(--color-primary-purple);
          font-weight: 500;

          &:hover {
            background: #fff;
          }
        }
      }
    }
  }
}

// * -------------------------------
// * 파티 상세
// * -------------------------------
.view-tit-area {
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  position: relative;

  &:after {
    content: '';
    width: 100%;
    height: 3px;
    /*background: linear-gradient(90deg, rgba(198,255,0,0.5) 0%, rgba(198,255,0,1) 50%, rgba(198,255,0,0.5) 100%,);*/
    background: #000;

    position: absolute;
    left: 0;
    bottom: 0;
  }

  .like-info-area {
    .like-vector_red {
      width: 2rem;
      height: 1.7rem;
    }

    .like-num {
      display: block;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700;
      color: var(--color-red);
    }
  }

  .view-tit-wrap {
    .view-tit {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2;
      display: block;
      color: var(--color-txt);
    }
  }
}

.sub-info-area {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .date-wrap {
    color: rgb(153, 150, 150);
    font-size: 1.4rem;
    line-height: 1.2;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    .ico {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  .review-wrap {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    margin-left: 2rem;

    .ico {
      width: 1.9rem;
      height: 1.8rem;
    }

    .review-num {
      font-size: 1.3rem;
      line-height: 1.2;
      color: var(--color-txt);
    }
  }

  .book-btn-area {
    max-width: 16rem;
    width: 100%;

    .btn {
      display: inline;

      &:hover {
        border: 3px solid var(--color-red);
        color: var(--color-red);
        background: rgba(255, 75, 75, 0.1);
        font-weight: 700;

        transition: all 0.15s;
      }
    }
  }
}

.editor-wrap {
  overflow: hidden;
  position: relative;

  border: 1px solid #dbdbdb;
  border-radius: 12px;
  padding: 2rem 2rem 5rem 2rem;
  margin-top: 5rem;
}

.more-btn {
  background: #fff;
  border-top: 1px solid #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;

  height: 4.8rem;
  width: 100%;
  font-size: 1.6rem;
  color: var(--color-gray-800);
}

.info-area {
  margin-top: 7rem;

  .info-list {
    margin-top: 2.5rem;

    dl {
      display: flex;
      align-items: flex-start;
      margin-top: 1rem;

      &:nth-of-type(1) {
        margin-top: 0;
      }

      dt {
        .info-icon {
          width: 2.5rem;
          height: 2.5rem;
          display: inline-block;
        }

        .info-icon01 {
          background: url("../img/sub/info_icon01.png") no-repeat center;
          background-size: cover;
        }

        .info-icon02 {
          background: url("../img/sub/info_icon02.png") no-repeat center;
          background-size: cover;
        }

        .info-icon03 {
          width: 2.2rem;
          height: 2.2rem;

          background: url("../img/sub/info_icon03.png") no-repeat center;
          background-size: cover;
        }

        .info-icon04 {
          width: 2.2rem;
          height: 2.2rem;

          background: url("../img/sub/info_icon04.png") no-repeat center;
          background-size: cover;
        }

        .info-icon05 {
          width: 2.2rem;
          height: 2.2rem;

          background: url("../img/sub/info_icon05.png") no-repeat center;
          background-size: cover;
        }

        .info-icon06 {
          width: 2.2rem;
          height: 2.2rem;

          background: url("../img/sub/info_icon06.png") no-repeat center;
          background-size: cover;
        }

        .info-icon07 {
          background: url("../img/sub/info_icon07.png") no-repeat center;
          background-size: cover;
        }
      }

      dd {
        margin-left: 0.5rem;
        color: #383535;
        font-size: 1.8rem;
        line-height: 1.5;
        min-height: 3rem;
      }
    }
  }
}


/* 테이블 상단 검색 */
.tb-search-area {
  margin-top: 2rem;
  max-width: 28rem;

  .search-input {
    border: 1px solid #dbdbdb;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .06);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.6rem;

    input {
      border: 1px solid transparent;
      border-radius: 0;
      height: 4rem;
      width: calc(100% - 5rem);
      padding: 0;

      font-size: 1.4rem;

      &:focus-visible {
        outline: none;
      }
    }

    .submit-btn {
      width: 3rem;
      height: 3rem;

      background: url("../img/common/ico_search_bk.png") no-repeat center;
      background-size: 2.2rem 2.2rem;
    }
  }
}

/* 테이블 */
.tb-wrap {

  &.v1 {
    table {
      table-layout: fixed;
    }

    th,
    td {
      height: 4.2rem;
      text-align: center;
      font-size: 1.6rem;
      vertical-align: middle;
    }

    thead {
      border-bottom: 2px solid #000;

      th {
        font-size: 1.6rem;
      }
    }

    tbody {
      td {
        padding: 1rem;
      }
    }

    .img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      margin: 0 auto;
    }

    .out-btn {
      width: 8rem;
      margin: 0 auto;
    }

  }
}

.more-area {
  position: relative;
  padding-bottom: 5rem;


  &:before {
    content: '';

    position: absolute;
    left: 0;
    bottom: 4.7rem;

    display: block;
    width: 100%;
    height: 30%;
    z-index: 5;
    background: linear-gradient(0, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 100%);
  }

  &.open {
    &:before {
      display: none;
    }
  }
}

.more-wrap {
  position: relative;
  overflow: hidden;
}

.more-btn-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  .more-btn {
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;

    height: 4.8rem;
    width: 100%;
    font-size: 1.6rem;
    color: var(--color-gray-800);
  }
}


.involved-user {
  overflow: hidden;
  margin-top: 1.5rem;
}

.user-slide {
  overflow: hidden
}

.user-box {
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  width: 27rem;
  display: block;

  .box-inner {
    padding: 1.5rem;

    .user-info {
      display: flex;
      align-items: center;

      .user-img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
      }

      .user-name {
        margin-left: 1rem;
        font-size: 1.8rem;
        font-weight: 500;
      }
    }

    .user-intro {
      margin-top: 2rem;

      .intro-txt {
        font-size: 1.6rem;
        word-break: keep-all;
        white-space: pre-line;
      }
    }
  }
}


.gray-box {
  border: 1px solid #dbdbdb;
  padding: 3rem 4rem;
  border-radius: 12px;
}

/* 후기 */
.top-review-box {
  padding: 3rem;

  box-shadow: 1px 0 9px rgba(0, 0, 0, 0.1);
}

.user-review-area {
  margin-top: 2rem;

  .top-review-txt {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 1.4;
    text-align: center;

    .host-name {
      font-weight: 700;
    }

    .txt-yellow {
      font-size: 2.6rem;
      font-weight: 700;
    }
  }
}

.review-info-wrap {
  display: flex;

  max-width: 90rem;
  width: 90%;
  margin: 3rem auto 1.5rem;

  min-height: 14rem;

  & > * {
    flex: 1 0;
  }

  .review-score {
    .score-tit {
      font-size: 2.2rem;
      font-weight: 600;
      display: block;
      text-align: center;
    }

    .score {
      font-size: 4.2rem;
      font-weight: 700;
      display: block;
      text-align: center;
    }

    .like-num {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .review-score-detail {
    position: relative;
    border-left: 1px solid #dbdbdb;
    padding: 2rem 0;

    &:before {
      /*content: '';
      width: 1px;
      height: 100%;
      background: #dbdbdb;*/
    }

    .score-cont {
      display: flex;
      align-items: center;
      justify-content: center;

      .grade {
        font-size: 1.4rem;
        color: var(--color-gray-600);
      }

      .bar {
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        width: 12rem;
        margin: 0 1rem;

        .now {
          position: absolute;
          left: 0;
          top: 0;

          display: block;
          background: var(--color-yellow);
          height: 5px;
        }

        .base {
          display: block;
          width: 100%;
          height: 5px;

          background: #eaeaea;
        }
      }

      .sum {
        font-size: 1.4rem;
        text-align: left;
        width: 36px;
      }
    }
  }

  .group-info {
    position: relative;
    border-left: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .group-tit {
      display: block;
      font-size: 2rem;
      text-align: center;
    }

    .group-num {
      display: block;
      font-size: 4.2rem;
      text-align: center;
      font-weight: 700;
    }

    .group-review {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      border-radius: 16px;
      font-size: 1.6rem;
      text-align: center;
      padding: 0.8rem 2rem;
      background: #eaeaea;
      color: #666;
      margin: 1rem auto 0;
    }
  }
}

.open {
  .review-detail {
    overflow-y: auto;
  }
}

.review-detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 100rem;
  overflow-y: hidden;

  .gray-box {
    padding: 3rem 4rem;
  }

  .box-inner {
  }

  .user-info {
    display: flex;
    align-items: center;


    .user-img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }

    .user-name {
      font-size: 1.6rem;
      margin-left: 1rem;
      font-weight: 500;
    }
  }

  .give-like {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    .date {
      font-size: 1.4rem;
      color: var(--color-gray-600);
      display: inline-flex;
      align-items: center;
      margin-left: 1rem;

      &:before {
        content: '';
        display: block;
        width: 2px;
        height: 15px;
        background: #eee;
        margin-right: 1rem;
      }
    }
  }
}

.review-cont-wrap {
  margin-top: 3rem;

  .img-wrap {
    display: flex;
    gap: 1rem;

    .img {
      width: 12rem;
      overflow: hidden;
      border-radius: 8px;
      aspect-ratio: 4/3;

      position: relative;
    }

    img {
      width: 100%;
      height: 100%;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .review-txt {
    margin-top: 3rem;
    font-size: 1.6rem;
    line-height: 1.2;

    word-break: keep-all;
    white-space: pre-wrap;
  }
}


/* 파티업체 정보 */
.party-owner-info {
  margin-top: 3rem;

  .host-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    .host-info {
      margin-top: 1.5rem;
      display: flex;
      align-items: center;

      .user-img {
        width: 12rem;
        height: 12rem;
        display: block;
        border-radius: 50%;
      }

      .user-name {
        font-size: 2rem;
        font-weight: 500;
        margin-left: 3rem;
      }
    }

    .host-intro {
      margin-top: 3rem;

      .intro-txt {
        font-size: 1.6rem;
        line-height: 1.5;
      }
    }

    .host-tag-wrap {
      display: flex;
      gap: 1rem;

      .tag {
        font-size: 1.4rem;
        font-weight: 500;
        padding: 0.3rem 1rem;
        border-radius: 12px;
        color: #4CAF50;
        background: #E9FAD7;
      }
    }
  }

  .right {
    margin-left: 1.6rem;
  }

  .common-sd {
    overflow: hidden;
    position: relative;

    width: 100%;
    max-width: 42rem;
    aspect-ratio: 16 / 9;

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--color-gray-100);
      border-radius: 16px;
      overflow: hidden;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover; /* 비율 유지하며 꽉 채우기 */
        object-position: center;
      }
    }
  }
}

