<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>요임</title>

    <!-- pubfile -->
    <link rel="stylesheet" href="/resource/assets/libs/jquery-ui/jquery-ui.min.css">
<!--     <link rel="stylesheet" href="/resource/assets/site/theme/basic/css/reset.css"> -->
<!--     <link rel="stylesheet" href="/resource/assets/site/theme/basic/css/component.css"> -->
<!--     <link rel="stylesheet" href="/resource/assets/site/theme/basic/css/utility.css"> -->
<!--     <link rel="stylesheet" href="/resource/assets/site/theme/basic/css/common.css"> -->

    <script src="/resource/assets/libs/jquery/jquery-3.5.1.min.js"></script>
    <script src="/resource/assets/libs/jquery-ui/jquery-ui.min.js"></script>
<!--     <script src="/resource/assets/site/theme/basic/js/links.js"></script> sns / 헤더상단 연결홈페이지 링크 -->
    <!-- //pubfile -->


    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
</head>
<body>

<!-- wrap -->
<div id="contents">
   <h1>hello world</h1>
</div>

<div class="text-center">
    <a href="https://kauth.kakao.com/oauth/authorize"
       th:href="@{https://kauth.kakao.com/oauth/authorize(client_id=${kakaoApiKey}, redirect_uri=${redirectUri}, response_type='code')}">
        <img th:src="@{/resource/assets/infra/img/kakao_login_medium_narrow.png}">
    </a>
</div>
<ul>
    <li>
        <!-- 아래와같이 아이디를 꼭 써준다. -->
        <a id="naverIdLogin_loginButton" href="javascript:void(0)">
            <span>네이버 로그인</span>
        </a>
    </li>
    <li onclick="naverLogout(); return false;">
        <a href="javascript:void(0)">
            <span>네이버 로그아웃</span>
        </a>
    </li>
</ul>

<script>

	

    var naverLogin = new naver.LoginWithNaverId(
        {
            clientId: "bRewgblVZHuMpJPLh7X1", //내 애플리케이션 정보에 cliendId를 입력해줍니다.
            callbackUrl: "http://localhost:8200/naverLogin", // 내 애플리케이션 API설정의 Callback URL 을 입력해줍니다.
            isPopup: false,
            callbackHandle: true
        }
    );

    naverLogin.init();

    window.addEventListener('load', function () {
        naverLogin.getLoginStatus(function (status) {
            if (status) {
                var email = naverLogin.user.getEmail(); // 필수로 설정할것을 받아와 아래처럼 조건문을 줍니다.

                console.log(naverLogin.user);

                if( email == undefined || email == null) {
                    alert("이메일은 필수정보입니다. 정보제공을 동의해주세요.");
                    naverLogin.reprompt();
                    return;
                }
            } else {
                console.log("callback 처리에 실패하였습니다.");
            }
        });
    });


    var testPopUp;
    function openPopUp() {
        testPopUp= window.open("https://nid.naver.com/nidlogin.logout", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,width=1,height=1");
    }
    function closePopUp(){
        testPopUp.close();
    }

    function naverLogout() {
        openPopUp();
        setTimeout(function() {
            closePopUp();
        }, 1000);


    }
</script>
<!-- //wrap -->
</body>
</html>
