<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>요임</title>

    <link rel="stylesheet" href="/resource/assets/libs/jquery-ui/jquery-ui.min.css">

    <script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
    <script src="/resource/assets/libs/jquery/jquery-3.5.1.min.js"></script>
    <script src="/resource/assets/libs/jquery-ui/jquery-ui.min.js"></script>

<script>
  (function () {
    const hash = location.hash ? new URLSearchParams(location.hash.substring(1)) : null;
    const token = hash ? hash.get('access_token') : null;
    const state = hash ? hash.get('state') : null;

    if (!token) return;

    fetch('/naverLogin/token', {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({ accessToken: token, state: state })
    })
    .then(function(r){ return r.json(); })
    .then(function(data){
      if (!data.ok) { alert('네이버 로그인 실패: ' + (data.message || '')); return; }
      location.replace(data.next || '/');
    })
    .catch(function(e){
      console.error(e); alert('네이버 로그인 처리 오류');
    });
  })();
</script>

</head>
<body>
<!-- wrap -->
<div id="contents">
   <h1>naverLoginCheck!!</h1>
  <!--  <span sec:authentication="principal.nickname"></span> -->
   <a href="/test">asdasd</a>
</div>
</body>
</html>
