<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yoim.www.mapper.chat.ChatDmMapper">

	<select id="findDmRoom" resultType="long">
		SELECT room_id FROM tb_chat_dm WHERE 
		user_low = #{low} AND user_high = #{high}
	</select>
	
	<insert id="insertDm">
		INSERT INTO tb_chat_dm(room_id, user_low, user_high)
		VALUES(#{roomId}, #{low}, #{high})
		ON DUPLICATE KEY UPDATE room_id = room_id
	</insert>


</mapper>
